/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/config.env
/node_modules
/secrets.env
/storage/
/tailwindcss
/target
.portal/
.shadow-cljs/

.calva/output-window
.calva/repl.calva-repl
.lsp/.cache
.clj-kondo/.cache
.clerk/cache
